.home-logout-btn{
    position: fixed;
    bottom: 2rem;
    right: 10px;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    color: white;
}

.video-container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

input[type="file"]{
    position: fixed;
    bottom: 10rem;
    right: 10px;
    width: 7rem;
    border: none;
    outline: none;
    color: transparent;
}
